# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

